/*****TAG SELECTORS*****/
body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #272727;
}

h1 {
    font-size: 5.625rem;
    color: #4f98ca;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2 {
    font-size: 2.5rem;
    color: #4f98ca;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    color: #50d890;
    font-family: 'Montserrat', sans-serif;
}

/******CLASS SELECTORS*****/
.top {
    background-color: #effffb;
    position: relative;
    padding-top: 100px;
}

.career {
    font-weight: normal;
}

.word {
    text-decoration: underline;
}

.profile {
    margin: 6.25rem auto;
}

.profile-image {
    width: 10%;
}

.intro {
    width: 30%;
    margin: auto;
    line-height: 2;
}

.skills {
    margin: 6.25rem 0;
}

.skill-row {
    width: 50%;
    margin: 6.25rem auto 12.5rem auto;
    text-align: left;
    line-height: 2;
}

.ticketsystem {
    width: 25%;
    float: left;
    margin-right: 0.5rem;
}

.ecommerce {
    width: 25%;
    float: right;
    margin-left: 0.5rem;
}

.contact-me {
    margin: 6.25rem auto;
    line-height: 2;
}

.contact-info {
    width: 25%;
    margin: auto auto 3rem auto;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.bottom {
    background-color: #4f98ca;
    line-height: 2;
    padding: 3rem 0;
}

.footer-link {
    color: #50d890;
    margin: auto 3rem;
    font-size: larger;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.footer-link:hover {
    color: #eaf6f6;
}

.copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0 0 0;
    font-family: 'Montserrat', sans-serif;
}

.bottom-icon {
    color: #eaf6f6;
    font-size: 0.75rem;
    font-family: 'Montserrat', sans-serif;
}

hr {
    border-style: none;
    border-top: dotted;
    border-color: #c2c4c4;
    border-width: 6px;
    width: 6%;
}

/*****BUTTON*****/
.contact-me-button {
    background: #50D890;
    background-image: -webkit-linear-gradient(top, #50D890, #1FB566);
    background-image: -moz-linear-gradient(top, #50D890, #1FB566);
    background-image: -ms-linear-gradient(top, #50D890, #1FB566);
    background-image: -o-linear-gradient(top, #50D890, #1FB566);
    background-image: -webkit-gradient(to bottom, #50D890, #1FB566);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 20px;
    font-weight: 100;
    padding: 3px 10px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 1px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #50D890 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .contact-me-button:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }